<form action="/Estudiantes/create" method="POST">
    <h2>Agregar estudiante</h2>

    <input type="text" placeholder="Nombre" name="nombre"></input><br/>
    <input type="number" placeholder="Edad" name="edad"></input><br/>
    <input type="submit" value="Agregar estudiante"></input>
</form>